{% extends 'base_doctor.html' %}

{% block content %}
<div>
    <h1>Личный кабинет врача</h1>
    <h3> Ваш логин: {{ user.get_username }}</h3>
    <h3> Ваш email: {{ user.email }}</h3>


    {% if is_doctor is None %}
    Ваши данные
    <form method="post" action="addcontact/">
        {% csrf_token %}
        Имя:
        <input type="text" name="name"><br/>
        Телефон:
        <input type="tel" name="telephone"><br/>
        Специализация:
        <select name="work-type">
            {% for specialization in categories %}
            <option value={{specialization.name}}>{{specialization.name}}</option>
            {% endfor %}
        </select><br/>

        <button type="submit">Заполнить форму врача</button>
    </form>

    {% endif %}
</div>

{% endblock %}