{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Cosmetal">
    <meta name="description" content="Косметологическая клиника">
    <link rel="shortcut icon" href="/static/icon.png">
    <link rel="stylesheet" href="/static/style.css">
    <script src="{% static 'app.js' %}"></script>
    <script src="{% static 'table.js' %}"></script>
    <title>Cosmetal</title>
</head>

<header class="navbar">
    <ul>
        {% if user.is_authenticated %}

        <li><a href="/myapp/account/">Личный кабинет</a></li>

        {% else %}

        <li><a href="/myapp/login/">Войти в личный кабинет</a></li>

        {% endif %}

        <li><a href="/myapp/">Главная</a></li>
        <li><a href="/myapp/about/">О Компании</a></li>
        <li><a href="/myapp/news/">Новости</a></li>
        <li><a href="/myapp/faq/">F.A.Q.</a></li>
        <li><a href="/myapp/contacts/">Контакты</a></li>
        <li><a href="/myapp/confidential/">Политика конфиденциальности</a></li>
        <li><a href="/myapp/employees/">Вакансии</a></li>
        <li><a href="/myapp/reviews/">Отзывы</a></li>
        <li><a href="/myapp/discounts/">Скидки</a></li>

        {% if user.is_authenticated %}

        <li><a href="/myapp/statistics/">Посмотреть статистические данные</a></li>

        {% endif %}
    </ul>

    <div id="location" hidden></div>
    <div id="battery" hidden></div>
    <div id="countdown" hidden></div>
    <div id="animationCircle" hidden style="transform: translateX(10%)">animation</div>

</header>

<body>
    {% block content %}
    {% endblock %}
</body>

</html>