<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Личный кабинет врача</title>
</head>
<header class="navbar">
    <ul>
        <li>
            <a href="/myapp/">На главную</a>
        </li>
        <li>
            <form method="post" action="logout/">
                {% csrf_token %}
                <button type="submit" style="
                 background-color: #007bff;
                color: white;
                border: none;
                cursor: pointer;"
                >Выйти</button>
            </form>
        </li>
        <li>
            <a href="/myapp/account">Личный кабинет</a>
        </li>
        <li>
            <a href="/myapp/schedule">Посмотреть расписание</a>
        </li>
        <li>
            <a href="/myapp/visits">Посмотреть записи клиентов</a> |
        </li>
        <li>
            <a href="/myapp/services">Посмотреть процедуры</a> |
        </li>
        <li>
            <a href="/myapp/sales">Посмотреть клиентов и их услуги</a>
        </li>
    </ul>
</header>


<body>
    {% block content %}
    {% endblock %}
</body>

</html>