<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет врача</title>
</head>
<header>
    <a href="/myapp/">На главную</a>
    <form method="post" action="logout/">
        {% csrf_token %}
        <button type="submit">Выйти</button>
    </form>
    <br />
    <a href="/myapp/account">Личный кабинет</a> | 
    <a href="/myapp/buy">Купить услугу</a> | 
    <a href="/myapp/sales">Покупки</a>
</header>


<body>
    {% block content %}
    {% endblock %}
</body>

</html>