{% extends 'base.html' %}

{% block content %}
<div class="confidential">
    <h2>1. Введение</h2>

    <pre>
        Данная Политика конфиденциальности объясняет, каким образом Cosmetal (далее «Клиника», «мы», «нас»
        или «наш») собирает, использует, раскрывает и защищает информацию, которую вы предоставляете при использовании
        нашего сайта (далее «Сайт»). Мы стремимся защищать вашу конфиденциальность и обеспечивать защиту ваших
        персональных данных.
    </pre>

    <h2>2. Сбор и использование информации</h2>

    <pre>
    Мы можем собирать следующую информацию о вас:
    <ul>
        - Личная информация: Имя, адрес электронной почты, номер телефона, адрес и другие контактные данные, которые вы
        добровольно предоставляете, заполняя формы на нашем Сайте или при использовании наших услуг.

        - Информация об использовании: Данные о вашем посещении Сайта, в том числе IP-адрес, тип браузера, страницы,
        которые вы посещаете, время, проведенное на этих страницах, и дата и время вашего запроса.

        - Куки и аналогичные технологии: Мы используем куки и подобные технологии для сбора информации о ваших действиях
        на нашем Сайте с целью улучшения качества обслуживания и повышения удобства использования.
    </ul>
        Мы используем собранную информацию для следующих целей:

        - Обработка ваших запросов и предоставление услуг.

        - Связь с вами для подтверждения записей, напоминаний о предстоящих встречах, а также отправки информационных и маркетинговых материалов (с вашей согласия).

        - Улучшение нашего Сайта, услуг и взаимодействия с клиентами.

        - Проведение исследований и анализа для понимания поведения пользователей и мониторинга эффективности нашего Сайта.
    </pre>
    <h2>3. Раскрытие информации </h2>
    <pre>
        Мы не продаем, не обмениваем и не передаем вашу личную информацию третьим лицам без вашего согласия, за исключением
        случаев, когда это требуется по закону или необходимо для выполнения соглашений с вами (например, передача в
        платежные системы).

        Мы можем передавать вашу информацию:

        - Партнерам и поставщикам услуг, которые помогают нам в функционировании Сайта и предоставлении услуг (например,
        хостинг-провайдерам, компаниям по обработке платежей).

        - В соответствии с требованиями закона, включая для защиты наших прав и собственности, а также безопасности других
        пользователей.

    </pre>
    <h2>4. Безопасность данных </h2>
    <pre>
        Мы принимаем разумные меры для защиты информации, которую мы собираем, от несанкционированного доступа,
        использования или раскрытия. Тем не менее, пожалуйста, имейте в виду, что никакие методы передачи через Интернет или
        методы хранения данных не могут быть полностью безопасны. Мы не можем гарантировать абсолютную безопасность
        информации, которую вы нам предоставляете.
    </pre>
    <h2>5. Ваши права</h2>

    <pre>
        Вы имеете право на доступ к вашим личным данным, которые мы храним, и запросить их исправление или удаление. Вы
        можете также отказаться от получения маркетинговых сообщений, следуя инструкциям, указанным в каждом сообщении.

        Если вы хотите воспользоваться этими правами, пожалуйста, свяжитесь с нами по контактной информации, указанной ниже.
    </pre>
    <h2>6. Изменения в Политике конфиденциальности</h2>
    <pre>
        Мы можем время от времени обновлять нашу Политику конфиденциальности. Все изменения будут опубликованы на этой
        странице, и вы будете уведомлены, если это необходимо по закону. Мы рекомендуем вам периодически проверять эту
        страницу на предмет изменений.
    </pre>
    <h2>7. Контакты</h2>

    <pre>
        Если у вас есть какие-либо вопросы или запросы относительно данной Политики конфиденциальности, пожалуйста,
        свяжитесь с нами по следующим контактам:
    </pre>

    <h1>Дата вступления в силу: <em>28.02.2024</em></h1>
</div>
{% endblock %}