<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>

<body class="reviews">
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Введите название</label><br>
            <input type="text" name="name" value="{{service.name}}" />
        </p>
        <p>
            <label>Введите стоимость</label><br>
            <input type="number" name="price" value="{{service.price}}" />
        </p>
        <button type="submit">Сохранить</button>
    </form>
</body>

</html>