<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
</head>

<header>
    <a href="about/">О Компании</a>
    <a href="news/">Новости</a>
    <a href="faq/">F.A.Q.</a>
    <a href="contacts/">Контакты</a>
    <a href="confidential/">Политика конфиденциальности</a>
    <a href="employees/">Вакансии</a>
    <a href="reviews/">Отзывы</a>
    <a href="discounts/">Скидки</a>
</header>

<body>
    <h1>Главная</h1>

    {% if user.is_authenticated %}

    <a href="account/">Личный кабинет</a>

    {% else %}

    <a href="login/">Войти в личный кабинет</a>
    
    {% endif %}
</body>

</html>