{% extends 'base_doctor.html' %}

{% block content %}
<div>
    <table>
        <tr>
            <td>Врач</td>
            <td>Комната</td>
            <td>Время начала приёма</td>
            <td>Время конца приёма</td>
            <td>День</td>
        </tr>

        {% for schedule in schedules %}
        <tr>
            <td> {{schedule.doctor.name}} </td>
            <td> {{schedule.room.number}} </td>
            <td> {{schedule.start_time}} </td>
            <td> {{schedule.end_time}} </td>
            <td> {{schedule.day}} </td>
        </tr>

        {% endfor %}

    </table>

</div>

{% endblock %}