{% extends 'base_doctor.html' %}

{% block content %}

<div>
    <table>
        <tr>
            <td>Врач</td>
            <td>Клиент</td>
            <td>День</td>
            <td>Время</td>
        </tr>

        {% for visit in visits %}
        <tr>
            <td>{{visit.doctor.name}}</td>
            <td>{{visit.client.name}}</td>
            <td>{{visit.visit_date}}</td>
            <td>{{visit.schedule.start_time}}</td>
        </tr>

        {% endfor %}

    </table>
</div>

{% endblock %}